#container-div {
  background-image: linear-gradient(to bottom right, green, #191B1B);
  border-radius: 15px; 
  padding: 10px;
}

body {
  background-color: #191B1B;
}

textarea {
  width: 100%;
  height: 130px;
}

input {
  width: 100%;
}

.white {
  color: white;
}

.green {
  color:green;
}

.grey {
  color: grey;
}

.dark-background {
  background-color:#191B1B;
}

.nav-background {
  background-image: linear-gradient(to right, green , #191B1B);
}

.card {
  margin: 20px;
  padding: 8px;
}

.subContainer{
  margin-left: 60px;
}
